@charset "UTF-8";
/*------------------------------------------------------------
    Reset
------------------------------------------------------------*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
html {
  font-size: 62.5%;
}
body,
table,
input,
textarea,
select,
option,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
table,
input,
textarea,
select,
option {
  line-height: 1.1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
:focus {
  outline: 0;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
img {
  vertical-align: top;
}
a,
a img {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover,
a:hover img {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
img {
  max-width: 100%;
}
.sp-only {
  display: none;
}
@media only screen and (max-width: 767px) {
  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }
}
/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Layout .l-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.footer {
  background: #fff;
  padding: 0 0 68px;
}
@media only screen and (max-width: 767px) {
  .footer {
    padding: 0 0 46px;
  }
}
.footer-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 6px;
}
@media only screen and (max-width: 767px) {
  .footer-more {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
  }
}
.footer-more__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 5px;
  padding-right: 6px;
}
.footer-more__logo img {
  max-width: 70%;
}
@media only screen and (max-width: 767px) {
  .footer-more__logo {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
  }
  .footer-more__logo img {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
}
.footer-more__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
@media only screen and (max-width: 767px) {
  .footer-more__link {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.footer-information {
  border-radius: 50px;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 115px;
}
@media only screen and (max-width: 767px) {
  .footer-information {
    border-radius: 25px;
    max-width: 250px;
    margin: 0 auto 55px;
  }
}
@media only screen and (max-width: 767px) {
  .footer-information__bgr--pc {
    display: none;
  }
}
.footer-information__bgr--sp {
  display: none;
}
@media only screen and (max-width: 767px) {
  .footer-information__bgr--sp {
    display: block;
  }
}
.footer-more__contact {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 1.4px;
  color: #282828;
}
@media only screen and (max-width: 767px) {
  .footer-more__contact {
    font-size: 1.3rem;
    padding: 0 0 22px;
    letter-spacing: 0.1px;
    color: #000;
  }
}
.footer-more__contact .footer-more__text:nth-child(1) {
  padding-bottom: 2px;
}
.footer-more__contact .footer-more__text:nth-child(2) {
  padding-bottom: 3px;
}
.footer-more__contact .footer-more__phone {
  letter-spacing: 1.6px;
}
.footer-more__contact .footer-more__phone--pc {
  pointer-events: none;
}
@media only screen and (max-width: 1024px) {
  .footer-more__contact .footer-more__phone--pc {
    display: none;
  }
}
.footer-more__contact .footer-more__phone--tab {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .footer-more__contact .footer-more__phone--tab {
    display: inline-block;
    letter-spacing: 0;
    line-height: 1.65;
    -webkit-font-feature-settings: "palt";
    font-feature-settings: "palt";
  }
}
.footer-more__contact .footer-more__txt1 {
  padding-left: 6px;
}
.footer-more__contact .footer-more__txt2 {
  padding-left: 5px;
}
.footer-more__contact .footer-more__child {
  padding-left: 5px;
}
address {
  font-size: 1.2rem;
  font-style: normal;
  text-align: right;
  padding-right: 0;
  letter-spacing: 1.2px;
  padding-top: 9px;
  color: #282828;
}
@media only screen and (max-width: 767px) {
  address {
    font-size: 1rem;
    padding: 7px 0 0;
    letter-spacing: 1px;
    color: #000;
  }
}
/* layout
------------------------------------------------------------*/
body {
  font-family: "Sawarabi Mincho", "游ゴシック", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  background: url("../img/background-img.jpg") repeat;
  padding: 30px;
}
@media only screen and (max-width: 767px) {
  body {
    padding: 15px;
  }
}
body.isShow-hamburger {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
}
html {
  scroll-behavior: smooth;
}
.l-container {
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 15px;
}
.home-droplets {
  z-index: 10;
}
@media only screen and (max-width: 767px) {
  .home-droplets {
    display: none;
  }
}
.home-droplets__item {
  position: absolute;
  z-index: 999;
  -webkit-animation: dropletsMove 5s infinite;
  animation: dropletsMove 5s infinite;
}
.home-droplets__item--position1 {
  top: 9.8%;
  left: 28.6%;
}
.home-droplets__item--position2 {
  top: 7.4%;
  right: 36.5%;
}
.home-droplets__item--position3 {
  top: 13.7%;
  right: 13%;
}
.home-droplets__item--position4 {
  top: 65.7%;
  left: 15.9%;
}
.home-droplets__item--position5 {
  top: 82%;
  left: 29.4%;
}
.home-droplets__item--position6 {
  top: 80.2%;
  right: 22.2%;
}
.dropletsFadeOut {
  -webkit-animation-name: dropletsFadeOut;
  animation-name: dropletsFadeOut;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: unset;
  animation-iteration-count: unset;
}
.dropletsFadeIn {
  -webkit-animation-name: dropletsFadeIn;
  animation-name: dropletsFadeIn;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: unset;
  animation-iteration-count: unset;
}
.c-leaf {
  pointer-events: none;
}
.c-move .c-leaf .c-leafTop {
  top: 0;
  left: 35.8%;
  position: fixed;
  z-index: 999;
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}
.c-move .c-leaf .c-leafTop.translateTop {
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}
@media only screen and (max-width: 1024px) {
  .c-move .c-leaf .c-leafTop {
    max-width: 20%;
  }
}
@media only screen and (max-width: 767px) {
  .c-move .c-leaf .c-leafTop {
    max-width: 27%;
    left: 25.5%;
  }
}
.c-move .c-leaf .c-leafRight {
  right: 0;
  top: 53.8%;
  position: fixed;
  z-index: 999;
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}
.c-move .c-leaf .c-leafRight.translateRight {
  -webkit-transform: translateX(50px);
  transform: translateX(50px);
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}
@media only screen and (max-width: 1024px) {
  .c-move .c-leaf .c-leafRight {
    max-width: 15%;
  }
}
@media only screen and (max-width: 767px) {
  .c-move .c-leaf .c-leafRight {
    display: none;
  }
}
.c-move .c-leaf .c-leafRightSP {
  right: 0;
  top: 53.8%;
  position: fixed;
  z-index: 999;
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
  display: none;
}
.c-move .c-leaf .c-leafRightSP.translateRight {
  -webkit-transform: translateX(50px);
  transform: translateX(50px);
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}
@media only screen and (max-width: 1024px) {
  .c-move .c-leaf .c-leafRightSP {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .c-move .c-leaf .c-leafRightSP {
    display: block;
    max-width: 25%;
    top: 85.5%;
    right: 0%;
  }
}
.c-leafmenuTop {
  display: none;
}
.c-leafmenuRight {
  display: none;
}
@-webkit-keyframes dropletsMove {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes dropletsMove {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes dropletsFadeOut {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
  }
}
@keyframes dropletsFadeOut {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
  }
}
@-webkit-keyframes dropletsFadeIn {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes dropletsFadeIn {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.c-hamburger.active {
  background: url("../img/icon-hamburger2.png") no-repeat;
  z-index: 9999;
  background-size: 50%;
}
@media only screen and (max-width: 1024px) {
  .c-hamburger {
    background: url("../img/icon-hamburger1.png") no-repeat;
    width: 90px;
    height: 90px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    z-index: 9999;
    background-size: 50%;
    left: 30px;
    top: -37px;
  }
}
@media only screen and (max-width: 767px) {
  .c-hamburger {
    left: 15px;
    top: -52px;
  }
}
.c-menu {
  position: fixed;
  left: 0;
  top: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 999;
}
@media only screen and (max-width: 1024px) {
  .c-menu .c-menu__list {
    z-index: 9999;
    position: fixed;
    height: calc(100vh - 80px);
    max-width: 100%;
    top: 80px;
    right: -100%;
    background: #1f4242;
    width: 100%;
    border-top: 1px solid #ffd3d8;
    overflow: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    padding: 0 0 75px;
  }
  .c-menu .c-menu__list.opened {
    right: 0;
    top: 0;
    height: 100%;
    z-index: 999;
    padding: 75px 15px 0;
  }
  .c-menu .c-menu__list.opened .c-leafmenuTop {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 160px;
    max-height: 164px;
  }
  .c-menu .c-menu__list.opened .c-leafmenuRight {
    display: block;
    position: absolute;
    top: 64%;
    right: 0;
    max-width: 178.5px;
    max-height: 182px;
  }
  .c-menu .c-menu__list.opened > li {
    display: block;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 100%;
    margin: 0;
    height: auto;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    background: none;
    border-bottom: 1px solid #1a5566;
    padding: 20.5px 0;
  }
}
@media only screen and (max-width: 1024px) and (max-width: 1024px) {
  .c-menu .c-menu__list.opened > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 1024px) {
  .c-menu .c-menu__list.opened li a {
    font-size: 2rem;
    line-height: 1.4;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
  }
}
@media only screen and (max-width: 1024px) {
  .c-menu .c-menu__list.opened.active {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .c-menu .c-menu__list.opened.active .home {
    position: fixed;
  }
}
.c-menu .c-menu__link {
  width: 195px;
  height: 38px;
  background: url("../img/bgr-btn.png") no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 1.6rem;
  letter-spacing: 0.1em;
  font-weight: 400;
  margin-bottom: 17px;
}
.c-menu .c-menu__link.is-activeHover {
  opacity: 0.7;
}
@media only screen and (max-width: 1024px) {
  .c-menu .c-menu__link {
    background: none;
    margin: 0;
    padding: 0;
  }
}
.c-listitem {
  position: relative;
  width: 260px;
  height: 110px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 30px;
}
.c-listitem:not(:last-child) {
  margin-right: 19px;
}
.c-listitem::after {
  content: "";
  position: absolute;
  width: 45px;
  height: 45px;
  background: url("../img/icon-row.png") no-repeat;
  right: -18px;
  top: 42px;
  background-size: 27%;
  cursor: pointer;
}
/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Component .c-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*------------------------------------------------------------
btn
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-btnTop {
  display: inline-block;
  margin-top: 16px;
  background-color: rgb(37, 169, 137);
  font-size: 2.4rem;
  font-weight: 400;
  border: 1px;
  border-radius: 50px;
  color: #fff;
  letter-spacing: 4.4px;
  margin-left: 8px;
  line-height: 1.083;
  padding: 15px 40px;
}
@media only screen and (max-width: 1024px) {
  .c-btnTop {
    padding: 4px 35px;
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 767px) {
  .c-btnTop {
    font-size: 1.6rem;
    padding: 9px 10px 9px 26px;
    margin-top: 0;
    margin-left: 0;
    border-radius: 25px;
  }
}
/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Project .p-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
.home {
  line-height: 2;
  background: #fff;
}
@media only screen and (max-width: 767px) {
  .home {
    padding: 0;
  }
}
.home-mainvisual {
  border-radius: 5px;
  padding: 100px 20px 80px;
  color: #000;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media only screen and (max-width: 767px) {
  .home-mainvisual {
    padding: 0 15px 39px;
  }
}
@media only screen and (max-width: 1024px) {
  .home-mainvisual .home-mainvisual__img {
    width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .home-mainvisual .home-mainvisual__img {
    max-width: 45%;
    margin: 0 auto;
  }
}
.home-mainvisual .home-mainvisual__content {
  position: relative;
}
.home-mainvisual .home-mainvisual__inner {
  position: absolute;
  text-align: center;
  left: 29.5%;
  top: 54.1%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 767px) {
  .home-mainvisual .home-mainvisual__inner {
    left: 50%;
    top: 71%;
    width: 100%;
    height: 100%;
  }
}
.home-mainvisual .home-mainvisual__inner .home-mainvisual__brand {
  width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 24px 0 28px 1px;
  letter-spacing: 0.1em;
}
@media only screen and (max-width: 1024px) {
  .home-mainvisual .home-mainvisual__inner .home-mainvisual__brand {
    font-size: 1.2rem;
    padding: 15px 0 15px 3px;
  }
}
@media only screen and (max-width: 767px) {
  .home-mainvisual .home-mainvisual__inner .home-mainvisual__brand {
    font-size: 1.5rem;
    padding: 32px 0 19px 3px;
  }
}
.home-mainvisual .home-mainvisual__inner .home-mainvisual__brand::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: #000;
  left: 40%;
  margin-top: -16px;
}
@media only screen and (max-width: 767px) {
  .home-mainvisual .home-mainvisual__inner .home-mainvisual__brand::before {
    left: calc((100% - 42px) / 2);
    margin-top: -13px;
    width: 42px;
  }
}
.home-mainvisual .home-mainvisual__inner .home-mainvisual__title {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0.1em;
  padding-left: 3px;
}
@media only screen and (max-width: 1024px) {
  .home-mainvisual .home-mainvisual__inner .home-mainvisual__title {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 767px) {
  .home-mainvisual .home-mainvisual__inner .home-mainvisual__title {
    line-height: 2;
    letter-spacing: 0.2px;
    padding: -6px 0 0 2px;
    padding-bottom: 19px;
  }
}
.home-mainvisual .home-mainvisual__inner .home-mainvisual__text {
  font-size: 1.6rem;
  font-weight: 400;
  display: block;
  letter-spacing: 0.1em;
  line-height: 1;
}
@media only screen and (max-width: 1024px) {
  .home-mainvisual .home-mainvisual__inner .home-mainvisual__text {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 767px) {
  .home-mainvisual .home-mainvisual__inner .home-mainvisual__text {
    font-size: 1.5rem;
    letter-spacing: 0.1px;
    padding: 0 10px;
  }
}
.home-point {
  background: url("../img/bgr-point.jpg") repeat;
  padding: 97px 0 54px;
  margin-bottom: 81px;
}
@media only screen and (max-width: 767px) {
  .home-point {
    padding: 38px 0 0;
    margin-bottom: 36px;
  }
}
@media only screen and (max-width: 767px) {
  .home-point .l-container {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 349px;
  }
}
@media only screen and (max-width: 767px) {
  .home-point .u-fix {
    margin-left: -9%;
  }
}
.home-point .home-point__container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}
@media only screen and (max-width: 767px) {
  .home-point .home-point__container {
    max-width: auto;
    padding: 0;
  }
}
.home-point .home-point__box .home-point__content {
  padding-bottom: 107px;
}
@media only screen and (max-width: 1024px) {
  .home-point .home-point__box .home-point__content {
    padding-bottom: 65px;
  }
}
@media only screen and (max-width: 767px) {
  .home-point .home-point__box .home-point__content {
    padding-bottom: 51px;
  }
}
.home-point .home-point__box .home-point__content:last-child {
  padding-bottom: 95px;
}
@media only screen and (max-width: 767px) {
  .home-point .home-point__box .home-point__content:last-child {
    padding-bottom: 33px;
  }
}
.home-point .home-point__box .home-point__content .home-point__topcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 39px 12%;
}
@media only screen and (max-width: 767px) {
  .home-point .home-point__box .home-point__content .home-point__topcontent {
    padding: 0;
  }
}
.home-point .home-point__box .home-point__content .home-point__topcontent .home-point__topnumber {
  position: relative;
}
.home-point .home-point__box .home-point__content .home-point__topcontent .home-point__topnumber .home-point__caption {
  display: block;
  font-size: 2.2rem;
  padding: 23px 0 0;
}
@media only screen and (max-width: 1024px) {
  .home-point .home-point__box .home-point__content .home-point__topcontent .home-point__topnumber .home-point__caption {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 767px) {
  .home-point .home-point__box .home-point__content .home-point__topcontent .home-point__topnumber .home-point__caption {
    font-size: 1.6rem;
    padding: 11px 0 0;
  }
}
.home-point .home-point__box .home-point__content .home-point__topcontent .home-point__topnumber .home-point__caption::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 2px;
  background-color: #000;
  margin: -3px 0 0 17px;
}
@media only screen and (max-width: 767px) {
  .home-point .home-point__box .home-point__content .home-point__topcontent .home-point__topnumber .home-point__caption::before {
    margin: -1px 0 0 12px;
  }
}
.home-point .home-point__box .home-point__content .home-point__topcontent .home-point__topnumber .home-point__caption--point3 {
  padding: 20px 0 0;
}
@media only screen and (max-width: 767px) {
  .home-point .home-point__box .home-point__content .home-point__topcontent .home-point__topnumber .home-point__caption--point3 {
    padding: 8px 0 0;
  }
}
@media only screen and (max-width: 767px) {
  .home-point .home-point__box .home-point__content .home-point__topcontent .home-point__topnumber .home-point__img {
    max-width: 68%;
    margin-left: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .home-point .home-point__box .home-point__content .home-point__topcontent .home-point__topnumber .home-point__img--2 {
    max-width: 48%;
    margin-left: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .home-point .home-point__box .home-point__content .home-point__topcontent .home-point__topnumber .home-point__img--3 {
    max-width: 73%;
    margin-left: 10px;
  }
}
.home-point .home-point__box .home-point__content .home-point__topcontent .home-point__toptext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 767px) {
  .home-point .home-point__box .home-point__content .home-point__topcontent .home-point__toptext {
    padding: 0 0 0 15px;
  }
}
.home-point .home-point__box .home-point__content .home-point__topcontent .home-point__toptext .home-point__title {
  font-size: 3.6rem;
  font-weight: 400;
  margin: 0 0 15px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 8px;
  text-align: left;
  max-width: 430px;
  width: 100%;
  letter-spacing: 3.6px;
  color: #176b6a;
  margin-left: 29px;
}
@media only screen and (max-width: 1024px) {
  .home-point .home-point__box .home-point__content .home-point__topcontent .home-point__toptext .home-point__title {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 767px) {
  .home-point .home-point__box .home-point__content .home-point__topcontent .home-point__toptext .home-point__title {
    font-size: 2rem;
    padding: 20px 0 0;
    margin: 0 0 20px;
    letter-spacing: 1.8px;
  }
}
.home-point .home-point__box .home-point__content .home-point__topcontent .home-point__toptext .home-point__description {
  font-size: 1.5rem;
  font-weight: 400;
  display: block;
  letter-spacing: 0.4px;
  padding: 19px 0 0 2px;
  line-height: 1.7;
  color: #000;
}
@media only screen and (max-width: 1024px) {
  .home-point .home-point__box .home-point__content .home-point__topcontent .home-point__toptext .home-point__description {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 767px) {
  .home-point .home-point__box .home-point__content .home-point__topcontent .home-point__toptext .home-point__description {
    font-size: 1.3rem;
    margin-left: -74px;
    margin-top: 9px;
    letter-spacing: 1.2px;
  }
}
.home-point .home-point__box .home-point__content .home-point__topcontent .home-point__toptext .home-point__description--width {
  max-width: 320px;
}
@media only screen and (max-width: 767px) {
  .home-point .home-point__box .home-point__content .home-point__botcontent .home-point__botsquare:not(:last-child) {
    margin: 0 0 20px;
  }
}
.home-point .home-point__box .home-point__content .home-point__botcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 4px;
}
@media only screen and (max-width: 767px) {
  .home-point .home-point__box .home-point__content .home-point__botcontent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
  }
}
.home-point .home-point__box .home-point__content .home-point__botcontent .home-point__botsquare {
  width: calc((100% - 40px) / 3);
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}
@media only screen and (max-width: 1024px) {
  .home-point .home-point__box .home-point__content .home-point__botcontent .home-point__botsquare {
    border-radius: 18px;
    width: calc((100% - 20px) / 3);
  }
}
@media only screen and (max-width: 767px) {
  .home-point .home-point__box .home-point__content .home-point__botcontent .home-point__botsquare {
    border-radius: 15px;
    width: 100%;
  }
}
.home-point .home-point__box .home-point__content .home-point__botcontent .home-point__botsquare.is-show .home-point__more {
  opacity: 1;
  pointer-events: visible;
}
.home-point .home-point__box .home-point__content .home-point__botcontent .home-point__botsquare .home-point__more {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  pointer-events: none;
}
@media only screen and (max-width: 1024px) {
  .home-point .home-point__box .home-point__content .home-point__botcontent .home-point__botsquare .home-point__more {
    padding: 4.9%;
  }
}
.home-point .home-point__box .home-point__content .home-point__botcontent .home-point__botsquare .home-point__more .home-point__cover {
  border-radius: 26px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0 15.8%;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 1024px) {
  .home-point .home-point__box .home-point__content .home-point__botcontent .home-point__botsquare .home-point__more .home-point__cover {
    padding: 0 7.9%;
    border-radius: 13px;
  }
}
@media only screen and (max-width: 767px) {
  .home-point .home-point__box .home-point__content .home-point__botcontent .home-point__botsquare .home-point__more .home-point__cover {
    padding: 0 7.1%;
  }
}
.home-point .home-point__box .home-point__content .home-point__botcontent .home-point__botsquare .home-point__more .home-point__cover .home-point__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.home-point .home-point__box .home-point__content .home-point__botcontent .home-point__botsquare .home-point__more .home-point__cover .home-point__inner .home-point__bottext {
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  line-height: 1.75;
  padding: 30px 0;
  color: #000;
  font-weight: 400;
  overflow: auto;
  max-height: 125px;
}
@media only screen and (max-width: 1024px) {
  .home-point .home-point__box .home-point__content .home-point__botcontent .home-point__botsquare .home-point__more .home-point__cover .home-point__inner .home-point__bottext {
    font-size: 0.9rem;
    padding: 6% 0;
  }
}
@media only screen and (max-width: 767px) {
  .home-point .home-point__box .home-point__content .home-point__botcontent .home-point__botsquare .home-point__more .home-point__cover .home-point__inner .home-point__bottext {
    padding: 0% 0 7%;
    font-size: 1.3rem;
  }
}
.home-point .home-point__box .home-point__content .home-point__botcontent .home-point__botsquare .home-point__more .home-point__cover .home-point__inner .home-point__bottitle {
  max-width: 198px;
  width: 100%;
  font-size: 2.4rem;
  letter-spacing: 0.1em;
  line-height: 1.08;
  color: #176b6a;
  text-align: center;
  white-space: nowrap;
  position: relative;
  font-weight: 400;
}
@media only screen and (max-width: 1024px) {
  .home-point .home-point__box .home-point__content .home-point__botcontent .home-point__botsquare .home-point__more .home-point__cover .home-point__inner .home-point__bottitle {
    font-size: 1.8rem;
    padding-bottom: 14%;
  }
}
@media only screen and (max-width: 767px) {
  .home-point .home-point__box .home-point__content .home-point__botcontent .home-point__botsquare .home-point__more .home-point__cover .home-point__inner .home-point__bottitle {
    font-size: 1.6rem;
    padding-bottom: 18%;
  }
}
.home-point .home-point__box .home-point__content .home-point__botcontent .home-point__botsquare .home-point__more .home-point__cover .home-point__inner .home-point__bottitle::after {
  content: "";
  position: absolute;
  width: 100%;
  max-width: 50px;
  height: 1px;
  background-color: #176b6a;
  display: block;
  margin-top: 16px;
  margin-left: calc((100% - 50px) / 2);
  font-weight: 400;
}
@media only screen and (max-width: 1024px) {
  .home-point .home-point__box .home-point__content .home-point__botcontent .home-point__botsquare .home-point__more .home-point__cover .home-point__inner .home-point__bottitle::after {
    margin-top: 11px;
  }
}
@media only screen and (max-width: 767px) {
  .home-point .home-point__box .home-point__content .home-point__botcontent .home-point__botsquare .home-point__more .home-point__cover .home-point__inner .home-point__bottitle::after {
    margin-top: 22px;
  }
}
.home-point .c-btnInner {
  padding: 5px 28px;
  background: url("../img/bgr-btn.png") no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.6rem;
  letter-spacing: 0.1em;
  white-space: nowrap;
}
@media only screen and (max-width: 1024px) {
  .home-point .c-btnInner {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 767px) {
  .home-point .c-btnInner {
    padding: 0 8px;
    font-size: 1.3rem;
  }
}
.home-point .c-btnmore {
  background: url("../img/btn-img.png") no-repeat;
  background-size: cover;
  width: 26%;
  height: 28%;
  position: absolute;
  right: 21px;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  padding: 0;
  border-style: none;
  cursor: pointer;
}
.home-point .c-btnmore:hover {
  opacity: 0.7;
}
@media only screen and (max-width: 767px) {
  .home-point .c-btnmore {
    background-size: 76%;
    right: -3px;
    bottom: -5px;
  }
}
.home-point .home-point__brand {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .home-point .home-point__brand {
    max-width: 345px;
    margin: 0 auto;
  }
}
.home-point .home-point__brand .home-point__brandtext {
  font-size: 3rem;
  color: #176b6a;
  text-align: center;
  letter-spacing: 0.1em;
  padding-bottom: 35px;
  font-weight: 400;
}
@media only screen and (max-width: 1024px) {
  .home-point .home-point__brand .home-point__brandtext {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 767px) {
  .home-point .home-point__brand .home-point__brandtext {
    font-size: 1.8rem;
    line-height: 1.7;
    text-align: center;
    padding: 0 14px 20px;
    line-break: anywhere;
  }
}
.home-point .home-point__brand .home-point__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 43px;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  .home-point .home-point__brand .home-point__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding-bottom: 0;
    padding: 0 15px 4px;
  }
}
.home-point .home-point__brand .home-point__list .home-point__item {
  position: relative;
  width: calc((100% - 60px) / 4);
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
}
@media only screen and (max-width: 1024px) {
  .home-point .home-point__brand .home-point__list .home-point__item {
    border-radius: 20px;
    width: calc((100% - 40px) / 4);
  }
}
@media only screen and (max-width: 767px) {
  .home-point .home-point__brand .home-point__list .home-point__item {
    width: calc((100% - 50px) / 2);
    margin-bottom: 24px;
    border-radius: 10px;
  }
}
.home-point .home-point__brand .home-point__company {
  font-size: 1.2rem;
  text-align: center;
  padding-bottom: 50px;
  letter-spacing: 1.4px;
  color: #333;
}
@media only screen and (max-width: 767px) {
  .home-point .home-point__brand .home-point__company {
    font-size: 1.3rem;
    margin-top: -10px;
    padding: 0 17px 56px;
    line-break: anywhere;
    line-height: 1.7;
  }
}
.home-use {
  padding-bottom: 122px;
  max-width: 1140px;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .home-use {
    padding-bottom: 61px;
  }
}
.home-use .home-use__image {
  z-index: 99;
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.home-use .home-use__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__product {
    max-width: 500px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1024px) {
  .home-use .home-use__product {
    padding-top: 74px;
  }
}
.home-use .home-use__title {
  font-size: 4.6rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  letter-spacing: 9px;
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__title {
    font-size: 1.9rem;
    letter-spacing: 5px;
  }
}
.home-use .home-use__caption {
  font-size: 2rem;
  font-weight: 400;
  display: block;
  letter-spacing: 0.1em;
  padding-right: 8px;
  padding-bottom: 6px;
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__caption {
    font-size: 1.3rem;
    letter-spacing: 0;
    padding-left: 3px;
  }
}
.home-use .home-use__rowTop {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 6.6%;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__rowTop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
  }
}
.home-use .home-use__rowBottom {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 6.5%;
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__rowBottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.home-use .home-use__text {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 4px;
  letter-spacing: 1.5px;
  position: relative;
  font-size: 1.4rem;
  color: #333;
}
@media only screen and (max-width: 1024px) {
  .home-use .home-use__text {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__text {
    letter-spacing: 1px;
    font-size: 1.4rem;
    line-height: 1.8;
  }
}
.home-use .home-use__text::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 1px dashed rgb(85, 85, 85);
}
.home-use .home-use__daily {
  position: absolute;
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__daily .home-use__dailyImg {
    max-width: 90%;
  }
}
.home-use .home-use__daily--item1 {
  left: 2%;
  top: -30.7%;
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__daily--item1 {
    top: -6%;
    left: 8%;
    max-width: 126px;
  }
}
.home-use .home-use__daily--item4 {
  left: 69.4%;
  top: -29.7%;
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__daily--item4 {
    top: 69%;
    right: 8%;
    left: auto;
    max-width: 126px;
  }
}
.home-use .home-use__item1 {
  max-width: 15.4%;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__item1 {
    max-width: 50%;
    padding-left: 50px;
  }
}
.home-use .home-use__item1 .home-use__text {
  padding: 33px 0 2px 7px;
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__item1 .home-use__text {
    padding: 19px 0 0 10px;
  }
}
.home-use .home-use__item1 .home-use__text::after {
  -webkit-transform: translate(-2px);
  transform: translate(-2px);
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__item1 .home-use__image .home-use__itemImg {
    max-width: 55%;
  }
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__item1 .home-use__image {
    max-width: 50%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}
.home-use .home-use__item2 {
  max-width: 26.4%;
  width: 100%;
  padding: 41px 0 0;
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__item2 {
    max-width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    padding: 14px 0 0;
  }
}
.home-use .home-use__item2 .home-use__text {
  padding: 35px 0 1px 5px;
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__item2 .home-use__text {
    padding: 27px 9px 1px 0;
  }
}
.home-use .home-use__item2 .home-use__text::after {
  -webkit-transform: translate(-5px);
  transform: translate(-5px);
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__item2 .home-use__image {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-right: 5px;
  }
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__item2 .home-use__image .home-use__itemImg {
    width: 66%;
  }
}
.home-use .home-use__item3 {
  max-width: 31.2%;
  width: 100%;
  padding: 39px 0 0;
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__item3 {
    max-width: 100%;
    padding: 15px 0 0;
    margin-left: 19px;
  }
}
.home-use .home-use__item3 .home-use__text {
  padding: 37px 0 1px 12px;
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__item3 .home-use__text {
    padding: 21px 0 1px 2px;
  }
}
.home-use .home-use__item3 .home-use__text::after {
  -webkit-transform: translate(-5px);
  transform: translate(-5px);
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__item3 .home-use__text::after {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__item3 .home-use__image {
    display: block;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-left: 5px;
  }
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__item3 .home-use__itemImg {
    width: 44px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
}
.home-use .home-use__item4 {
  margin-left: -4px;
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__item4 {
    max-width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    padding: 40px 61px 0 0;
  }
}
.home-use .home-use__item4 .home-use__text {
  padding: 53px 0 1px 18px;
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__item4 .home-use__text {
    padding: 41px 5px 1px 2px;
  }
}
.home-use .home-use__item4 .home-use__text::after {
  -webkit-transform: translate(0);
  transform: translate(0);
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__item4 .home-use__image .home-use__itemImg {
    max-width: 70%;
  }
}
.home-use .home-use__item5 {
  max-width: 22.4%;
  width: 100%;
  padding: 94px 0 0 12px;
}
@media only screen and (max-width: 1024px) {
  .home-use .home-use__item5 {
    padding: 94px 0 0 12px;
  }
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__item5 {
    max-width: 100%;
    padding: 16px 0 0;
  }
}
.home-use .home-use__item5 .home-use__text {
  padding: 22px 0 0 6px;
  margin-left: -10px;
}
@media only screen and (max-width: 1024px) {
  .home-use .home-use__item5 .home-use__text {
    padding: 36px 0 0 6px;
    margin-left: -2px;
  }
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__item5 .home-use__text {
    padding: 21px 0 0 17px;
  }
}
.home-use .home-use__item5 .home-use__text::after {
  -webkit-transform: translate(-2px);
  transform: translate(-2px);
  z-index: 9;
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__item5 .home-use__text::after {
    -webkit-transform: translate(5px);
    transform: translate(5px);
  }
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__item5 .home-use__image {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-left: -26px;
    padding-left: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__item5 .home-use__image .home-use__itemImg {
    max-width: 65%;
  }
}
.home-use .home-use__item6 {
  max-width: 23.2%;
  width: 100%;
  padding: 87px 0 0;
}
@media only screen and (max-width: 1024px) {
  .home-use .home-use__item6 {
    max-width: 31.2%;
  }
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__item6 {
    max-width: 100%;
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}
.home-use .home-use__item6 .home-use__text {
  padding: 108px 0 1px 39px;
  margin-left: -49px;
}
@media only screen and (max-width: 1024px) {
  .home-use .home-use__item6 .home-use__text {
    padding: 108px 0 1px 16px;
  }
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__item6 .home-use__text {
    padding: 74px 0 0 27px;
    margin-right: -6px;
  }
}
.home-use .home-use__item6 .home-use__text::after {
  -webkit-transform: translate(-5px);
  transform: translate(-5px);
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__item6 .home-use__text::after {
    -webkit-transform: translate(28px);
    transform: translate(28px);
  }
}
.home-use .home-use__item6 .home-use__image {
  position: relative;
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__item6 .home-use__image {
    max-width: 41%;
    margin-right: 20px;
    padding-right: 3px;
  }
}
.home-use .home-use__item6 .home-use__recommend {
  display: inline-block;
  position: absolute;
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__item6 .home-use__recommend {
    margin-left: -19px;
  }
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__item6 .home-use__recommendImg {
    display: none;
  }
}
.home-use .home-use__item6 .home-use__recommendImgSP {
  display: none;
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__item6 .home-use__recommendImgSP {
    display: block;
    max-width: 73%;
    margin: 13px 0 0;
  }
}
.home-use .home-use__item6 .home-use__itemImg {
  margin-top: 59px;
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__item6 .home-use__itemImg {
    margin: 65px 0 0 6px;
    max-width: 95%;
  }
}
.home-use .home-use__item7 {
  max-width: 21.9%;
  width: 100%;
  padding: 117px 88px 0 0;
}
@media only screen and (max-width: 1024px) {
  .home-use .home-use__item7 {
    padding: 105px 30px 0 0;
  }
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__item7 {
    max-width: 100%;
    padding: 14px 0 0 4px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}
.home-use .home-use__item7 .home-use__text {
  padding: 17px 0 1px;
  text-align: left;
  margin: -1px 0 0 -4px;
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__item7 .home-use__text {
    padding: 6px 0 0 6px;
    margin-left: -66px;
  }
}
.home-use .home-use__item7 .home-use__text::after {
  -webkit-transform: translate(3px);
  transform: translate(3px);
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__item7 .home-use__text::after {
    -webkit-transform: translate(-3px);
    transform: translate(-3px);
  }
}
.home-use .home-use__item7 .home-use__image {
  padding-left: 7px;
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__item7 .home-use__itemImg {
    max-width: 51%;
  }
}
.home-use .home-use__item8 {
  padding: 31px 0 0;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__item8 {
    max-width: 100%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 13px 0 0;
  }
}
.home-use .home-use__item8 .home-use__text {
  position: absolute;
  padding: 17px 28px 1px 0;
  margin: -1px 0 0 -126px;
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__item8 .home-use__text {
    padding: 18px 33px 1px 0;
    margin: -1px 83px 0 -46px;
  }
}
.home-use .home-use__item8 .home-use__text::after {
  -webkit-transform: translate(0);
  transform: translate(0);
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__item8 .home-use__image {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0 22px 0 0;
  }
}
@media only screen and (max-width: 767px) {
  .home-use .home-use__item8 .home-use__itemImg {
    max-width: 51%;
  }
}
.home-qa .home-qa__title {
  font-size: 3.6rem;
  font-weight: 400;
  margin: 22px 0 0;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.1em;
  padding-bottom: 47px;
  color: #176b6a;
}
@media only screen and (max-width: 767px) {
  .home-qa .home-qa__title {
    font-size: 2rem;
    padding-bottom: 23px;
  }
}
.home-qa .home-qa__list {
  padding: 0 91px 45px;
}
@media only screen and (max-width: 767px) {
  .home-qa .home-qa__list {
    padding: 0 0 26px;
  }
}
@media only screen and (max-width: 767px) {
  .home-qa .home-qa__toplist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media only screen and (max-width: 767px) {
  .home-qa .home-qa__botlist {
    padding: 5px 0 0;
  }
  .home-qa .home-qa__botlist--fixtop {
    padding: 8px 0 0;
  }
}
.home-qa .home-qa__img {
  display: none;
}
@media only screen and (max-width: 767px) {
  .home-qa .home-qa__img {
    display: inline-block;
    max-width: 50px;
  }
}
.home-qa .home-qa__icon {
  max-width: 80%;
}
.home-qa .home-qa__question {
  padding: 15px 0 15px 72px;
  position: relative;
  font-size: 1.4rem;
  letter-spacing: 0.1em;
  color: #176b6a;
}
@media only screen and (max-width: 767px) {
  .home-qa .home-qa__question {
    padding: 0;
    position: relative;
    font-size: 1.3rem;
    letter-spacing: 1.3px;
    line-height: 1.7;
    color: #176b6a;
    max-width: calc(100% - 50px);
  }
}
.home-qa .home-qa__question::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 55px;
  background: url("../img/qa-img.png") no-repeat;
  left: -3px;
  bottom: 2px;
}
@media only screen and (max-width: 767px) {
  .home-qa .home-qa__question::before {
    display: none;
  }
}
.home-qa .home-qa__answer {
  font-size: 1.4rem;
  letter-spacing: 1.35px;
  line-height: 1.4;
  padding-top: 6px;
  color: #333;
}
@media only screen and (max-width: 767px) {
  .home-qa .home-qa__answer {
    font-size: 1.3rem;
    padding: 0;
    line-height: 1.7;
    letter-spacing: 1.21px;
  }
}
.home-column {
  padding-bottom: 100px;
  margin-top: 63px;
}
@media only screen and (max-width: 767px) {
  .home-column {
    margin-top: 8px;
    padding-bottom: 60px;
  }
}
.home-column .home-column__visual {
  border-radius: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin-bottom: 15px;
  overflow: hidden;
}
@media only screen and (max-width: 767px) {
  .home-column .home-column__visual {
    border-radius: 25px;
    max-width: 250px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 0 auto;
  }
}
.home-column .home-column__bgr {
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50px;
}
@media only screen and (max-width: 767px) {
  .home-column .home-column__bgr {
    display: block;
    border-radius: 25px;
  }
}
.home-column .home-column__title {
  font-size: 4.5rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 1.1;
  position: absolute;
}
@media only screen and (max-width: 767px) {
  .home-column .home-column__title {
    font-size: 2rem;
    line-height: 1.5;
    padding-top: 47px;
  }
}
.home-column .home-column__list {
  padding: 0 90px;
}
@media only screen and (max-width: 767px) {
  .home-column .home-column__list {
    padding: 71px 0 0;
  }
}
.home-column .home-column__list .home-column__item:not(:nth-child(1)) {
  padding-top: 35px;
}
.home-column .home-column__text {
  font-size: 2rem;
  font-weight: 300;
  display: block;
  line-height: 1.5;
  letter-spacing: 0.4px;
  padding-right: 12px;
}
@media only screen and (max-width: 767px) {
  .home-column .home-column__text {
    font-size: 1.5rem;
    line-height: 1.5;
    letter-spacing: -0.8px;
    padding-right: 7px;
  }
}
.home-column .home-column__desc {
  width: 95%;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 21px 0 30px;
  letter-spacing: 0.1em;
  line-height: 1.5;
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .home-column .home-column__desc {
    width: 100%;
    font-size: 1.3rem;
    letter-spacing: 1.3px;
    line-height: 1.7;
    padding: 9px 0 0;
    overflow: hidden;
    display: none;
  }
}
.home-column .home-column__icon {
  position: absolute;
  right: -5.2%;
  top: -7%;
}
@media only screen and (max-width: 767px) {
  .home-column .home-column__icon {
    display: none;
  }
}
.home-column .home-column__item {
  position: relative;
  border-bottom: 1px solid rgb(23, 107, 106);
  padding-top: 35px;
}
@media only screen and (max-width: 767px) {
  .home-column .home-column__item {
    border-bottom: none;
    padding-top: 0;
  }
}
.home-column .home-column__item:hover {
  opacity: 0.7;
}
.home-column .home-column__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}
.home-column .home-column__image {
  position: relative;
}
.home-column .home-column__image .home-column__img {
  max-width: 275px;
  max-height: 100px;
  border-radius: 10px;
  overflow: hidden;
}
@media only screen and (max-width: 767px) {
  .home-column .home-column__image .home-column__img {
    max-width: 81px;
  }
}
@media only screen and (max-width: 767px) {
  .home-column .home-column__image {
    display: block;
    margin: 4px 0 0 -1px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}
.home-column .home-column__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 15px;
  color: #333;
}
@media only screen and (max-width: 767px) {
  .home-column .home-column__cont {
    padding-left: 10px;
  }
}
.home-column .home-column__texttop {
  display: block;
  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: 0.1em;
}
@media only screen and (max-width: 767px) {
  .home-column .home-column__texttop {
    font-size: 1rem;
    line-height: 1.4;
    letter-spacing: 2px;
    padding-bottom: 7px;
  }
}
.home-column .home-column__textbottom {
  display: block;
  font-size: 2.5rem;
  line-height: 1.3;
  letter-spacing: 0.1em;
}
@media only screen and (max-width: 767px) {
  .home-column .home-column__textbottom {
    font-size: 1.5rem;
    line-height: 1.6;
    letter-spacing: 0.1em;
  }
}
.home-column .home-column__link {
  display: none;
}
@media only screen and (max-width: 767px) {
  .home-column .home-column__link {
    width: 100%;
    display: block;
    text-align: right;
    text-decoration: underline;
    padding-bottom: 3px;
    padding-top: 10px;
    font-size: 1.3rem;
    letter-spacing: 1.3px;
    letter-spacing: 0;
    text-underline-offset: 2px;
    color: #176b6a;
  }
}
.home-column .home-column__collapse {
  display: none;
}
@media only screen and (max-width: 767px) {
  .home-column .home-column__collapse {
    display: block;
    width: 100%;
    border-radius: 7px;
    background: #176b6a;
    height: 20px;
    margin-top: 15px;
  }
  .home-column .home-column__collapse.active img {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
.home-column .home-column__collapse .home-column__iconRotate {
  width: 12%;
  max-width: 40px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.home-column .home-column__collapse a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.home-column .home-column__collapse .home-column__iconSP {
  margin-left: calc((100% - 40px) / 2);
}
/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Utility .u-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
.u-show {
  opacity: 1 !important;
  visibility: unset !important;
}